<header class="site-header">
	<div class="branding">
		<img src="{{ site.baseurl }}/chriskevin-icon.png" alt="Chris Sundberg digital art" />
		<h1 class="project-name glitch is-glitching" data-text="Chris Kevin Sundberg">Chris Kevin Sundberg</h1>
		<h2 class="project-tagline">Technology Leader &amp; Software Engineer @ <a href="https://minnatechnologies.com/">Minna Technologies</a></h2>

		<p align="center">
			<a href="https://github.com/chriskevin" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/github.svg" alt="chriskevin" height="30" width="30" /></a>
			<a href="https://codepen.io/chriskevin" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/codepen.svg" alt="chriskevin" height="30" width="30" /></a>
			<a href="https://dev.to/chriskevin" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/dev-dot-to.svg" alt="chriskevin" height="30" width="30" /></a>
			<a href="https://stackshare.io/chriskevin" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/stackshare.svg" alt="chriskevin" height="30" width="30" /></a>
			<a href="https://twitter.com/chrisxkevin" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/twitter.svg" alt="chrisxkevin" height="30" width="30" /></a>
			<a href="https://www.linkedin.com/in/chris-sundberg-7b716744/" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/linkedin.svg" alt="Chris Sundberg" height="30" width="30" /></a>
			<a href="https://keybase.io/chriskevin" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/keybase.svg" alt="chriskevin" height="30" width="30" /></a>
			<a href="https://www.facebook.com/csundberg1" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/facebook.svg" alt="Chris Sundberg" height="30" width="30" /></a>
			<a href="https://www.instagram.com/chrisxkevin/" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/instagram.svg" alt="chrisxkevin" height="30" width="30" /></a>
		</p>
		
		<p align="center">
			<a href="https://my.playstation.com/profile/Chris-Kevin" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/playstation.svg" alt="Chris-Kevin" height="30" width="30" /></a>
			<a href="https://account.xbox.com/en-us/profile?gamertag=chrisXkevin" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/xbox.svg" alt="chriskevin" height="30" width="30" /></a>
			<a href="https://steamcommunity.com/profiles/76561198112333556/" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/steam.svg" alt="ChrisKevin" height="30" width="30" /></a>
			<a href="https://trakt.tv/users/chriskevin" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/trakt.svg" alt="chriskevin" height="30" width="30" /></a>
		</p>
	</div>
	<nav class="site-nav">
		<ul>
			{% for page in site.pages %}
			{% if page.title and page.hide != true %}
			<li>
				<a class="page-link" href="{{ page.url | relative_url }}">
					{{ page.title }}
				</a>
			</li>
			{% endif %}
			{% endfor %}
			<!-- Social icons from Font Awesome, if enabled  -->
			{% include icons.html %}
            
            <!-- Search bar -->
            {% if site.theme_settings.search %}
            <li>
            <form action="{{ site.baseurl }}/search.html" method="get">
                <input type="text" id="search-box" name="query" placeholder="Search" class="">
                <button type="submit" class="">
                    <i class="fa fa-fw fa-search"></i>
                </button>
            </form>
            </li>
            {% endif %}
		</ul>
	</nav>
    
</header>
